.card-container {
  background-color: white;
  padding: 5%;
  /* padding-left: 80px;
  padding-right: 80px; */
  padding-left: 7%;
  padding-right: 10%;
  text-align: left;
  min-width: 30%;
  max-width: 260px;
  max-height: 120px;
}
.card-button {
  background-color: transparent;
  border-style: none;
  width: 100%;
}
p {
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 960px) {
  .card-container {
    max-width: 80%;
  }
}
@media only screen and (max-width: 715px) {
  .card-container {
    max-width: 80%;
  }
}
