.outer-taskPage {
  background: linear-gradient(180deg, #8c54fb 50%, #ebe2ff 50%);
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 4%;
  padding-right: 18%;
}
.tasks-container {
  flex-grow: 1;
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-list {
  width: 80%;
  padding-top: 4%;
}
