.lists-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 960px) {
  .lists-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 715px) {
  .lists-container {
    flex-direction: column;
  }
}
